.videoList{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: flex-start;
}
.videoList .videoBlocks_img{
    flex-basis: 39%;
}
.videoList .videoBlocks_img img{
    width: 100%;
}

.videoList .videoBlock_description{
    flex-basis: 59%;

}


.videoList .videoBlock_description h1{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    font-weight: bold;
}

.videoList .videoBlock_description p{
    font-size: 14px;
}
.videoList .videoBlock_description{
    font-size: 13px;
    margin: 0px 20px;
}


